
<% if current_user %>
  <div class="container">
    <h3>Welcome: <%= current_user.email %></h3>  
    <div class="jumbotron" style="height: 500px;">
      <h2 class="text-left">SaaS Template</h2>
      <p class="text-left">
        Provides baseline SaaS functionality. <br><br> 
        - Devise Credentials Mgmt. <br> 
        - Sendmail Authentication. <br> 
        - Stripe integration.
      </p>
      <h3 class="text-left">Google Cloud: Live Deploy</h3>
      <p class="text-left">
        - Cloud Run Svc <br>
        - Cloud SQL: Postgres <br>
        - Credentials/Secret Mgr
      </p>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="jumbotron" style="height: 500px;">
      <h2 class="text-left">TEST: SaaS Template</h2>
      <p class="text-left">
        Provides baseline SaaS functionality. <br><br> 
        - Devise Credentials Mgmt. <br> 
        - Sendmail Authentication. <br> 
        - Stripe integration.
      </p>
      <h3 class="text-left">Google Cloud: Live Deploy</h3>
      <p class="text-left">
        - Cloud Run Svc <br>
        - Cloud SQL: Postgres <br>
        - Credentials/Secret Mgr
      </p>
      <br><br>
      <p>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up', style: 'width:400px;' %>
      </p>
    </div>
  </div>
<% end %>

